
<h1>Search</h1>

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<%= form_tag("/search", method: "get") do %>

  <%# <%= label_tag("Search for:") %> %>
  <%# <%= text_field_tag :q, params[:q] %> %>

  <%= text_field_tag :q, params[:q], {value:"#{@input}", class:"search-input"} %>
  <%= button_to "Search", class:"search-btn"%>
  <%# <%= submit_tag 'Search'%> %>
  search_input
  <%= @search_input %>
  input
  <%= @input %>
<% end %>

<%= render 'shopper/form', product: @products%>
