
<h1>Search</h1>

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<%= form_tag("/search", method: "get") do %>

  <%= label_tag("Search for:") %>
  <%= text_field_tag :q, params[:q] %>
  <%= submit_tag 'Search'%>
  <%= @input %>
<% end %>

<%= render 'shopper/form', product: @products%>
